<div class="loader-overlay-fullscreen" [ngClass]="{'fullscreen': fullscreen}">
    <div class="loader-overlay-wrapper" [ngClass]="{'overlay': overlay}">
        <div class="loader">
            <div class="square-container">
                <div class="square">
                    <div class="wrapper">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
