<mat-card [ngStyle]="{ 'background-image': 'url(' + item.image + ')'}" [ngClass]="{'detail': displayDetail}">
  <div class="container" (click)="toggleDetail()">
      <div class="title-bar">
        <h1>
          <span class="flag-icon flag-icon-{{item.locale}}"></span> {{item.name}}
        </h1>
      </div>

      <div class="btn-detail">
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </div>

      <div class="btn-play">
        <button mat-raised-button routerLink="/watch/{{item.id}}">
          <mat-icon>play_arrow</mat-icon>
          <mat-label>Play</mat-label>
        </button>
      </div>

      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
  </div>
</mat-card>
