/* Responsive percentage widths */
mat-card {
  /* gaps */
  margin: 5px;

  /* full image as background */
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;

  /* default color */
  color: #777;

  overflow: hidden;
}

mat-card {
  /* 16:9 ratio */
  padding-top: 56.25%;
  transition: all .2s ease-in-out;
}

/* aspect ratio 16:9 */
mat-card .container {
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container .btn-play {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  color: #dc1a28;
}

.container .btn-detail {
  position: absolute;
  right: 10px;
  top: 10px;
}

mat-card .title-bar {
  padding: 5px;

  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.title-bar h1 {
  font-family: monospace;
  margin: 15px 20px 15px 15px;
  color: #bbb;
}

.title-bar h1 .flag-icon {
  border-radius: 100%;
  width: 20px;
}

mat-card-header h1 {
  color: #fff;
}

mat-card mat-card-content {
  margin-bottom: 0;
  padding: 5px;

  position: absolute;
  bottom: 0;


  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

mat-card-content {
  opacity: 0;
  transition: all .2s ease-in-out;
}

/* detail mode */
mat-card.detail {
  padding-top: 100%;
  color: #ccc;
  transition: all .2s ease-in-out;
}

mat-card.detail mat-card-content {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.btn-play {
  opacity: 0;
  display: none;
  transition: all .2s ease-in-out;
}

.detail .btn-play {
  opacity: 1;
  display: block;
  transition: all .2s ease-in-out;
}
