@import "src/scss/default/variables";

.logo {
  padding: 0 14px;

  @include mobile() {
    height: 30px;
  }
}

.toolbar {
  background-color: transparent;
  background-image: linear-gradient(to top,rgba(0,0,0,0),#000);

  color: #fff;

  z-index: 10;

  position: fixed;
  top: 0;

  padding: 0;

  &.hide {
    opacity: 0;
    transition: all 2s ease-in-out;
  }
}

.space-between{
  display: flex;
  justify-content: space-between;
}
