@import "variables";

.page_divided .page_body {
  width: 100%;
  height: 100vh;

  background: #000;

  position: relative;
}

/* player related */
.player-container {
  max-width: 1550px;
  margin: 0 auto;
}

div.stretchy-wrapper {
  width: 100%;

  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  background: #000;
}

div.stretchy-wrapper > div {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* video info related */
.video-info {
  padding: 15px;
  background-color: #000;
  border-bottom: 1px solid #000;
}

.video-info h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 0;
}

.video-info h2 {
  margin-top: 0;
  font-size: 25px;
  color: #dddddd;
}

.video-info p {
  color: #777777;
}


.new-episode-btn {
  width: 100%;
  font-size: 15px;
  height: 50px;
  border-radius: 0;
  background: #dc1a28;
  color: #fff;
}

/** logo **/
.toolbar {
  background-image: unset !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: center !important;
}
