<div class="blurry"
     [ngClass]="{'enabled': blurry}">
  <section class="page page_divided">

    <div class="page_body">
      <div class="player-container">
        <div class="stretchy-wrapper">
          <div>
            <div id="yt-video-player"></div>
          </div>
        </div>

        <div class="video-info"
             *ngIf="currentEpisode">
          <div class="video-description" [ngClass]="{'fadeOut': hideDetails, 'remove': removeDetails}">
            <div>
              <h1>{{series.name}}</h1>
              <h2 *ngIf="isMovie()">{{getSeasonName(currentEpisode)}}</h2>
              <h2 *ngIf="!isMovie()">{{getSeasonName(currentEpisode)}} - Episode {{currentEpisode.rank + 1}}</h2>
            </div>
            <p>{{ series.description }}</p>
          </div>

          <div class="action-buttons center" *ngIf="!isMovie()">
            <button mat-stroked-button
                    (click)="openPlaylist()">
              <span class="material-icons">playlist_play</span>
              Episodes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--  <div class="sidebar">-->
    <!--    <div class="video-info-large-screen" *ngIf="currentEpisode">-->
    <!--      <h1>{{series.name}} - {{currentEpisode.name}}</h1>-->
    <!--      <h2 *ngIf="isMovie()">{{getSeasonName(currentEpisode)}}</h2>-->
    <!--      <h2 *ngIf="!isMovie()">{{getSeasonName(currentEpisode)}} - Episode {{currentEpisode.rank + 1}}</h2>-->
    <!--    </div>-->

    <!--    <div *ngIf="video.currentTime && canShowNextEpisodeButton()">-->
    <!--      <button mat-flat-button class="new-episode-btn" (click)="loadNextEpisode()">-->
    <!--        Episode suivant-->
    <!--        <span *ngIf="countDownActive">({{countDown}}s)</span>-->
    <!--      </button>-->
    <!--    </div>-->

  </section>
</div>
