.page_body {
  color: #fff;
  padding: 2em;
}

.mat-form-field {
  display: block;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
}

textarea {
  min-height: 60px;
}

.season {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.episodes-list {
  background: #141414;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
