<!-- / Info Bullets -->
<table class="container info-bullets"
       border="0"
       cellpadding="0"
       cellspacing="0"
       width="100%"
       align="center">
    <tr>
        <td align="center">
            <table class="container"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   width="620"
                   align="center"
                   style="width: 620px;">
                <tr>
                    <td class="info-bullets__block"
                        style="padding: 30px 30px 15px 30px;"
                        align="center">
                        <table class="container"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               align="center">
                            <tr>
                                <td class="info-bullets__icon"
                                    style="padding: 0 15px 0 0;">
                                    <img src="http://dev2.slicejack.com/portfolio-email/img/img13.png">
                                </td>

                                <td class="info-bullets__content"
                                    style="color: #969696; font-size: 16px;">contact@example.com
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td class="info-bullets__block"
                        style="padding: 30px 30px 15px 30px;"
                        align="center">
                        <table class="container"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               align="center">
                            <tr>
                                <td class="info-bullets__icon"
                                    style="padding: 0 15px 0 0;">
                                    <img src="http://dev2.slicejack.com/portfolio-email/img/img11.png">
                                </td>

                                <td class="info-bullets__content"
                                    style="color: #969696; font-size: 16px;">(541) 754-3010
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="info-bullets__block"
                        style="padding: 30px;"
                        align="center">
                        <table class="container"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               align="center">
                            <tr>
                                <td class="info-bullets__icon"
                                    style="padding: 0 15px 0 0;">
                                    <img src="http://dev2.slicejack.com/portfolio-email/img/img12.png">
                                </td>

                                <td class="info-bullets__content"
                                    style="color: #969696; font-size: 16px;">New York, 222 West
                                                                             23rd
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td class="info-bullets__block"
                        style="padding: 30px;"
                        align="center">
                        <table class="container"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               align="center">
                            <tr>
                                <td class="info-bullets__icon"
                                    style="padding: 0 15px 0 0;">
                                    <img src="http://dev2.slicejack.com/portfolio-email/img/img12.png">
                                </td>

                                <td class="info-bullets__content"
                                    style="color: #969696; font-size: 16px;">Paris, Champ de
                                                                             Mars 54
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- /// Info Bullets -->
