<head>
    <style>
        {% block css %}
            body {
                margin: 0;
            }

            td, p {
                font-size: 13px;
                color: #878787;
            }

            ul {
                margin: 0 0 10px 25px;
                padding: 0;
            }

            li {
                margin: 0 0 3px 0;
            }

            h1, h2 {
                color: black;
            }

            h1 {
                font-size: 25px;
            }

            h2 {
                font-size: 20px;
            }

            a {
                color: #2F82DE;
                font-weight: bold;
                text-decoration: none;
            }

            .entire-page {
                background: #C7C7C7;
                width: 100%;
                padding: 20px 0;
                font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
                line-height: 1.5;
            }

            .email-body {
                max-width: 600px;
                min-width: 320px;
                margin: 0 auto;
                background: white;
                border-collapse: collapse;
            }

            .email-body img {
                max-width: 100%;
            }

            .email-header {
                background: black;
                padding: 30px;
            }

            .email-header h1 {
                color: #fff;
            }

            .news-section {
                padding: 20px 30px;
            }

            .footer {
                background: #eee;
                padding: 10px;
                font-size: 10px;
                text-align: center;
            }
            {% block extra_css %}{% endblock extra_css %}
        {% endblock css %}
    </style>
</head>

<body>
<table class="entire-page">
    <tr>

        <td>

            <table class="email-body">

                <tr>
                    <td class="email-header">
                        {% block email_header %}
                            <a href="{{ front_url }}">
                                <h1>AmsLite</h1>
                                <p>Assets management solutions</p>
                            </a>
                        {% endblock %}
                    </td>
                </tr>

                <tr>

                    <td class="news-section">
                        {% block email_content %}{% endblock email_content %}
                    </td>

                </tr>

                <tr>
                    <td class="footer">
                        {% block email_footer %}{% endblock email_footer %}
                    </td>
                </tr>

            </table>

        </td>

    </tr>

</table>
</body>