{% extends "emails/email.html.twig" %}

{% block email_content %}
    <h1>Welcome to YT series</h1>

    <p>
        You asked for it, here is your activation link !
    </p>

    <p>
        <a href="{{ front_url }}/password_reset?token={{ user.confirmationToken }}">Activate account &rarr;</a>
    </p>
{% endblock email_content %}

{% block email_footer %}
    You're receiving this email because you asked for a password reset.
{% endblock email_footer %}
