<div class="login-page-container">

    <form class="form" [formGroup]="form" (ngSubmit)="resetPassword()">
      <mat-card class="card">

        <mat-card-content *ngIf="initialized && tokenValidity && !passwordUpdated">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="New password"
              type="password"
              formControlName="password"
              autofocus
              required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Repeat password"
              type="password"
              formControlName="repeated_password"
              required>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="initialized && !tokenValidity">
          <p class="error">
            Your token is not valid!
            <a routerLink="/login">Return to login</a>.
          </p>
        </mat-card-content>

        <mat-card-actions *ngIf="initialized && tokenValidity && !passwordUpdated" class="button-spacer">
          <button [disabled]="!form.valid || !initialized || !tokenValidity" mat-button type="submit">Update password</button>
        </mat-card-actions>

        <mat-card-content *ngIf="initialized && passwordUpdated">
          Password updated.
          <a routerLink="/login">Return to login</a>.
        </mat-card-content>

      </mat-card>
    </form>

</div>
