.list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.list .list-item {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 500px) {
  .list .list-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .list .list-item {
    width: 33%;
  }
}
@media (min-width: 1000px) {
  .list .list-item {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .list .list-item {
    width: 20%;
  }
}
@media (min-width: 1920px) {
  .list .list-item {
    width: 16.6667%;
  }
}
@media (min-width: 2500px) {
  .list .list-item {
    width: 14.2857%;
  }
}
