@import "variables";

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;

  @include mobile() {
	margin-top: 2rem;
  }
}

.showcase-content h1 {
  color: #c1c1c1;
  font-weight: 500;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;

  @include xsmobile() {
	font-size: 2rem;
  }

  @include mobile() {
	font-size: 2rem;
  }
}

.showcase-content p {
  text-transform: uppercase;
  color: $white;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;

  @include mobile() {
	font-size: 0.9rem;
  }
}

a.skip-link {
  font-size: 15px;
  text-decoration: underline;

  color: #fff;

  &:active {
    color: #fff;
  }
}
