<div class="showcase-content">
    <h1>Films, séries, documentaire et émissions cultes</h1>
    <p>
        Le meilleur de youtube, déjà trié pour vous.<br>
    </p>

    <br><br>

    <div class="row">
        <div class="xsmall-6 small-6 medium-6 large-6 right">

            <button
                    mat-flat-button
                    routerLink="/users/login"
                    style="border-radius: 4px 0 0 4px;">
                Connection
            </button>

        </div>
        <div class="xsmall-6 small-6 medium-6 large-6 left">

            <button
                    mat-flat-button
                    color="primary"
                    routerLink="/users/register"
                    style="border-radius: 0 4px 4px 0;">
                Inscription
            </button>

        </div>
    </div>

  <br><br>

   <a class="skip-link center" routerLink="/series/search">
       essayer sans inscription ?
   </a>

</div>
