<section class="page page_divided">

  <div class="sidebar" *ngIf="displayFilterMenu">
    <div class="sidebar_item back-button">
      <button mat-raised-button class="centered-btn clear-filter-btn" (click)="toogleFilterMenu()">Close Menu</button>
    </div>

    <button
      *ngIf="hasActiveFilters()"
      mat-flat-button
      class="clear-filter-btn"
      (click)="clearActiveFilters()">
      Clear Filters
    </button>

    <h1>Filters</h1>
    <mat-divider></mat-divider>

    <div *ngIf="filters['locales'].length">
      <h2>Locale</h2>
      <mat-radio-group class="example-radio-group" [(ngModel)]="activeFilters.locale" (change)="onFiltersChange()">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let locale of filters.locales"
          [value]="locale.key">
          <span class="flag-icon flag-icon-{{locale.key}}"></span> ({{locale.doc_count}})
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="filters['types'].length">
      <h2>Type</h2>
      <mat-radio-group class="example-radio-group" [(ngModel)]="activeFilters.type" (change)="onFiltersChange()">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let type of filters.types"
          [value]="type.key">
          {{type.key}} ({{type.doc_count}})
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>

  <div class="page_body">
    <div class="search-bar">
      <button class="search-filter" mat-flat-button (click)="toogleFilterMenu()">
        <i class="material-icons">filter_list</i>
      </button>
      <input class="search-input" type="text" (keyup)="makeSearch()" [(ngModel)]="query">
      <button class="search-button" mat-flat-button color="primary">
        <i class="material-icons">search</i>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="gridViewContainer">

      <div class="gridView-listItem" *ngFor="let row of result">
        <div class="gridView-tile">
          <div class="gridView-imageSection thumbnailWrap">
            <div class="gridView-imageSectionMaskTop"></div>
            <!--<div class="gridView-menu">-->
              <!--<i class="material-icons">-->
                <!--playlist_add-->
              <!--</i>-->
            <!--</div>-->
            <div class="gridView-image">
              <img src="{{row.image}}">
            </div>
            <div class="gridView-duration" *ngIf="row.seasons > 1">{{row.seasons}} saisons</div>
            <div class="gridView-duration" *ngIf="row.seasons <= 1 && row.episodes > 1">{{row.episodes}} episodes</div>
            <div class="gridView-duration" *ngIf="row.seasons <= 1 && row.episodes <= 1">{{row.type}}</div>
            <div class="gridView-locale"><span class="flag-icon flag-icon-{{row.locale}}"></span></div>
          </div>
          <div class="gridView-detailsSection" routerLink="/watch/{{row.id}}">
            <div class="gridView-detailsTop">
              <a class="gridView-title u-link" [innerHtml]="row.name"></a>
            </div>
            <div class="gridView-detailsBottom">
              <div class="gridView-date" [innerHtml]="row.description"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
