<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>

    <form class="form" [formGroup]="form" (ngSubmit)="requestResetPassword()">
      <mat-card class="card">

        <mat-card-header>
          <mat-card-title>Ams</mat-card-title>
          <mat-card-subtitle>Assets management solutions</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="!initialize && !mailSend">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Username"
              type="text"
              autocomplete="username"
              formControlName="username"
              autofocus
              required>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="initialize && mailSend">
          Check your mails.
          <a routerLink="/login">Return to login</a>.
        </mat-card-content>

        <mat-card-content *ngIf="initialize && !mailSend">
          <p class="error">An error occurred, you may already have requested a password reset mails.</p>
          <p class="error">Contact an administrator to get more information.</p>
          <a routerLink="/login">Return to login</a>.
        </mat-card-content>

        <mat-card-actions class="button-spacer" *ngIf="!initialize && !mailSend">
          <button mat-button routerLink="/login">login</button>
          <button [disabled]="!form.valid" mat-raised-button type="submit" color="primary">Reset password</button>
        </mat-card-actions>

      </mat-card>
    </form>

  </mat-grid-tile>
</mat-grid-list>
