<div class="menu" *ngIf="filters && filters.activeFilters && filters.availableFilters">
  <div class="logo-container">
      <img class="logo"
           src="/assets/logo.png"
           height="50"
           alt="YtSeries">
  </div>

  <!-- 'absorbs' the auto-focus behavior -->
  <button mat-button
          style="height: 0; position: absolute;"
          aria-label="disable-auto-focus"></button>

  <div class="row">
    <div class="xsmall-12 small-12 medium-12 large-12 center">
      <div class="marged">
        <div class="filter-group">
          <mat-checkbox
            class="filter-button"
            *ngFor="let filter of filters.availableFilters.locales"
            (click)="setLocaleFilter(filter)"
            [checked]="isLocaleFilter(filter)">
            {{ getLocaleName(filter.key) }}
            <small>({{filter.doc_count}})</small>
          </mat-checkbox>
          <hr>
          <mat-checkbox
            class="filter-button"
            *ngFor="let filter of filters.availableFilters.types"
            (click)="setTypeFilter(filter)"
            [checked]="hasTypeFilter(filter)">
            {{ filter.key|titlecase }}
            <small>({{filter.doc_count}})</small>
          </mat-checkbox>
          <hr>
          <mat-checkbox
            class="filter-button"
            *ngFor="let filter of filters.availableFilters.categories"
            (click)="toogleCategoryFilter(filter)"
            [checked]="hasCategoryFilter(filter)">
            {{ filter.key|titlecase }}
            <small>({{filter.doc_count}})</small>
          </mat-checkbox>
        </div>

      </div>
    </div>
  </div>

  <div class="center" style="margin: 20px">
    <button mat-flat-button color="warn" (click)="filters.clearActiveFilters()">
      Vider les filtres
    </button>
  </div>

</div>
