<div class="page_body">
  <h1>Mes séries</h1>
  <table class="rwd-table">
    <tbody>
    <tr>
      <th></th>
      <th>Title</th>
      <th class="small">Saisons</th>
      <th class="small">Épisodes</th>
      <th class="actions">Action</th>
    </tr>
    <tr *ngFor="let row of result">
      <td class="thumb">
        <img src="{{row.image}}">
      </td>
      <td>{{row.title}}</td>
      <td class="small">{{row.seasons}}</td>
      <td class="small">{{row.episodes}}</td>
      <td class="actions">
        <button mat-icon-button routerLink="/watch/{{row.code}}">
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-icon-button routerLink="/edit/{{row.code}}">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
