.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 10px;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.back-to-top.show
{
  opacity: 1;
  transition: all .2s ease-in-out;
}

.back-to-top button {
  background-color: #404040;
  color: #fff;
}

/* on desktop */
@media (min-width: 500px) {
  .back-to-top {
    bottom: 15px;
    right: 20px;
  }
}
