<div class="login-page-container">

  <form class="form" [formGroup]="loginForm" (ngSubmit)="register()">
    <mat-card class="card">

      <mat-card-content *ngIf="!displayLoadingPanel">
        <mat-form-field class="full-width">
          <input
                  matInput
                  placeholder="Email"
                  type="email"
                  formControlName="email"
                  autofocus
                  required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
                  matInput
                  placeholder="Password"
                  type="password"
                  autocomplete="current-password"
                  formControlName="password"
                  required>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content *ngIf="displayLoadingPanel">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
      </mat-card-content>

      <mat-card-actions class="button-spacer" *ngIf="!displayLoadingPanel">
        <a mat-button routerLink="/login">Already registred?</a>
        <button [disabled]="!loginForm.valid" mat-raised-button type="submit" color="primary">Register</button>
      </mat-card-actions>

    </mat-card>
  </form>

</div>
