.example-spacer {
  flex: 1 1 auto;
}

.mat-tab-link.active {
  border-bottom: 5px solid #fff;
  opacity: 1;
}

mat-toolbar {
  background: #141414;
  border-bottom: 1px solid #000;
  color: #fff;

  height: 50px;

  position: fixed;
  z-index: 10;
}

.router-wrapper {
  padding-top: 50px;
}

.site-title {
  height: 40px;
}

.site-title-container {
  font: 500 20px/0 Roboto,"Helvetica Neue",sans-serif;
}

.menu-link {
  padding-left: 20px;
  font-weight: 100;
  text-decoration: none;
  color: #b5b5b5;
  font-size: 14px;
}

.menu-link.active {
  font-weight: 400;
  color: #fff;
}

.menu-container-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu-container {
    display: none;
  }

  .menu-container-mobile {
    display: block;
  }
}
