<mat-toolbar *ngIf="enableToolbar()">
  <a routerLink="/">
    <img class="site-title" src="/assets/logo.png">
  </a>
  <a class="menu-link" routerLink="/search" routerLinkActive="active">Search</a>
  <a class="menu-link" routerLink="/watch" routerLinkActive="active">watch</a>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isConnected()">
    <mat-icon>person</mat-icon>
  </button>
  <div *ngIf="!isConnected()">
    <button mat-flat-button routerLink="/login">Login</button>
    <button mat-flat-button routerLink="/register">Register</button>
  </div>
</mat-toolbar>

<!--<nav mat-tab-nav-bar backgroundColor="primary" *ngIf="enableToolbar()">-->
  <!--<a mat-tab-link routerLink="/search" routerLinkActive="active"> Search </a>-->
  <!--<a mat-tab-link routerLink="/watch" routerLinkActive="active"> Watch </a>-->
<!--</nav>-->

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>settings_power</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
