<mat-toolbar>
  <a routerLink="/" class="site-title-container">
    <img class="site-title" src="/assets/logo.png">
  </a>
  <div class="menu-container">
    <a class="menu-link" routerLink="/search" routerLinkActive="active">Explorer</a>
    <a class="menu-link" routerLink="/historic" routerLinkActive="active" *ngIf="isConnected()">Historique</a>
  </div>
  <div class="menu-container-mobile">
    <a class="menu-link" [matMenuTriggerFor]="mobilemenu" href="javascript:void(0)">
      Menu
    </a>
  </div>

  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="usermenu" *ngIf="isConnected()">
    <mat-icon>person</mat-icon>
  </button>
  <div *ngIf="!isConnected()">
    <button mat-flat-button routerLink="/login">Connection</button>
  </div>
</mat-toolbar>


<mat-menu #mobilemenu="matMenu">
  <button mat-menu-item routerLink="/search">
    <mat-icon>search</mat-icon>
    <span>Explorer</span>
  </button>
  <button mat-menu-item routerLink="/historic" *ngIf="isConnected()">
    <mat-icon>history</mat-icon>
    <span>Historique</span>
  </button>
</mat-menu>

<mat-menu #usermenu="matMenu">
  <button mat-menu-item routerLink="/manage">
    <mat-icon>list</mat-icon>
    <span>Mes séries</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>settings_power</mat-icon>
    <span>Déconnection</span>
  </button>
</mat-menu>

<div class="router-wrapper">
  <router-outlet></router-outlet>

  <div class="back-to-top" [ngClass]="{'show': windowScrolled}">
    <button mat-mini-fab aria-label="Remonter la page" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
</div>
