<mat-toolbar>
  <a routerLink="/" (click)="scrollToTop()" class="site-title-container">
    <img class="site-title" src="/assets/logo.png">
  </a>

  <div class="menu-container">
    <a class="menu-link" routerLink="/search" routerLinkActive="active">Explorer</a>
    <a class="menu-link" routerLink="/historic" routerLinkActive="active" *ngIf="isConnected()">Historique</a>
    <a class="menu-link" routerLink="/manage" routerLinkActive="active" *ngIf="isConnected()">Mes séries</a>
  </div>

  <div class="menu-container-mobile">
    <button mat-icon-button routerLink="/search" class="menu-link" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button routerLink="/historic" class="menu-link" routerLinkActive="active" *ngIf="isConnected()">
      <mat-icon>history</mat-icon>
    </button>

    <button mat-icon-button routerLink="/manage" class="menu-link" routerLinkActive="active" *ngIf="isConnected()">
      <mat-icon>list</mat-icon>
    </button>
  </div>

  <span class="example-spacer"></span>

  <div class="login-menu-icons">
    <button mat-button (click)="logout()" class="menu-link hide-on-mobile important" *ngIf="isConnected()">
      <mat-icon>power_settings_new</mat-icon>
      <mat-label class="">Déconnexion</mat-label>
    </button>

    <button mat-icon-button (click)="logout()" class="menu-link hide-on-desktop important" *ngIf="isConnected()">
      <mat-icon>power_settings_new</mat-icon>
    </button>

    <div *ngIf="!isConnected()">
      <button mat-icon-button routerLink="/login">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>

<div class="router-wrapper">
  <router-outlet></router-outlet>

  <div class="back-to-top" [ngClass]="{'show': windowScrolled}">
    <button mat-mini-fab aria-label="Remonter la page" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>

  <div class="install-pwa" [ngClass]="{'show': promptEvent}">
    <button mat-flat-button aria-label="Installer l'application" (click)="installApplication()">
      <mat-icon>mobile_friendly</mat-icon> Installer l'app
    </button>
  </div>
</div>
