.page_body {
  background: #333;
  color: #fff;
  padding: 2em;
}

.mat-form-field {
  display: block;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
}

.col-md-6 {
  margin: 10px;
  width: 50%;
}

.season {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.episodes-list {
  border-radius: 5px;
  padding: 10px;
  background: #eee;
  margin-left: 70px;
}
