<div>
    <div class="login-container"
         [ngClass]="{'shake-on-error form-error': shaking && loginForm.invalid}">
        <div class="login">
            <form [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>Pseudo</mat-label>
                    <input
                            matInput
                            required
                            autofocus
                            type="text"
                            formControlName="username"
                            autocomplete="username"
                            placeholder="Pseudo">
                    <mat-error *ngIf="hasError(getEmail())">
                        Entre ton pseudo !
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input
                            matInput
                            required
                            #password
                            type="password"
                            formControlName="password"
                            autocomplete="password"
                            placeholder="Mot de passe">
                    <mat-error *ngIf="hasError(getPassword())">
                        Entre ton mot de passe !
                    </mat-error>
                </mat-form-field>

                <div class="row buttons">
                    <p class="button-container">
                        <button
                                *ngIf="!showLoader"
                                [disabled]="loginForm.invalid"
                                mat-flat-button
                                color="primary"
                                type="submit">
                            Connexion
                        </button>
                        <mat-spinner *ngIf="showLoader"
                                     diameter="37"
                                     style="margin: 0 auto"></mat-spinner>
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>





