<div class="series-quickview" *ngIf="item">
    <app-header [asset]="item" [showDetail]="false"></app-header>

    <div class="row">
        <div class="xsmall-12 small-12 medium-8 large-8">
            <h1>{{ item.name }}</h1>

            <h2 *ngIf="item.seasons == 1 && item.episodes == 1">{{ item.type }}</h2>
            <h2 *ngIf="item.seasons == 1 && item.episodes > 1">{{ item.episodes }} Episodes</h2>
            <h2 *ngIf="item.seasons > 1">{{ item.seasons }} Saisons</h2>

            <p>{{ item.description }}</p>
        </div>
        <div class="xsmall-12 small-12 medium-4 large-4 center">
            <button
                    mat-stroked-button
                    color="primary">
                <span class="material-icons">bookmark_border</span>
                <span class="hide-on-small-mobile hide-on-mobile">Save</span>
            </button>
            <button
                    (click)="close()"
                    routerLink="/series/watch/{{ item.id }}"
                    mat-stroked-button
                    color="primary">
                <span class="material-icons">play_circle_filled</span>
                <span class="hide-on-small-mobile hide-on-mobile">Play</span>
            </button>
        </div>
    </div>
</div>
