.page_body {
  padding-top: 50px;
}

.title-wrapper {
  padding: 2em;
}

.title-wrapper hr {
  color: #000;
}

.title-wrapper h1 {
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  letter-spacing: -1px;
  color: #fff;
}

/* blurry */
.blurry {
  filter: blur(0);
  transition: all 150ms ease-in-out;

  &.enabled {
    filter: blur(4px);
    transition: all 150ms ease-in-out;
  }
}
