<div class="page_body"
     [ngClass]="{'blurry': blurry}">

  <div class="title-wrapper">
    <h1>Username: <b>{{ user.username }}</b></h1>
  </div>

  <app-horizontal-slider
    *ngIf="continue.length"
    title="Reprendre"
    [minForDisplay]="0"
    [series]="continue"
    (selected)="onSelection($event)">
  </app-horizontal-slider>

  <app-horizontal-slider
    *ngIf="watched.length"
    title="Revoir"
    [minForDisplay]="0"
    [series]="watched"
    (selected)="onSelection($event)">
  </app-horizontal-slider>

  <br><br>

  <div class="center">
    <button
      mat-stroked-button
      color="warn"
      (click)="auth.clearSession()"
      routerLink="/home">
      Se déconnecter
    </button>
  </div>
</div>
