.page_divided {
    position: relative;
    height: calc(100vh - 112px);
    display: flex;
}

.page_divided .page_body {
    width: 100%;
    position: relative;
}

#map-menu-btn {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 1;
}

.page_divided .sidebar {
    display: block;
    width: 450px;
    background-color: #000;
    position: relative;
    border-left: 1px solid #000;
}

.page_divided .sidebar .sidebar_item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.centered-btn {
    margin: 0 auto;
}

.sidebar {
    z-index: 2;
}

@media only screen and (min-width: 600px) {
    .sidebar .sidebar_item.back-button {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
    }
}

/* search related */
.search-bar {
    margin: 15px;
    display: flex;
}

.search-input {
    padding: 15px;
    width: 75%;
    border: 0;
    border-left: 1px solid #d1d1d1;
}

.search-button {
    border-radius: 0 5px 5px 0;
    width: 20%;
}

.search-filter {
    border-radius: 5px 0px 0px 5px;
    width: 5%;
}

.sidebar h1 {
    margin: 0;
    background: #141414;
    color: #6d6d6d;
    border-bottom: 1px solid #000;
    padding: 5px 15px;
    font-size: 1em;
}