<div class="login-container"
     [ngClass]="{'shake-on-error form-error': shaking && hasErrorInForm()}">
  <div class="login">
    <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Pseudo</mat-label>
        <input
          matInput
          required
          autofocus
          type="text"
          formControlName="username"
          autocomplete="username"
          placeholder="Pseudo">
        <mat-error *ngIf="hasError(getUsername())">
          <div *ngIf="getUsername().errors">
            <span *ngIf="getUsername().errors.required">
              Choisis ton pseudo
            </span>
            <span *ngIf="getUsername().errors.email">
              Entre une adresse email valide
            </span>
            <span *ngIf="getUsername().errors.used">
              Un compte existe déjà pour cette adresse.
              <a routerLink="/accueil/login">essayer la connection ?</a>
            </span>
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          #password
          type="password"
          formControlName="password"
          autocomplete="password"
          placeholder="Mot de passe">
        <mat-error *ngIf="hasError(getPassword())">
          Entre ton mot de passe !
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirmation</mat-label>
        <input
          matInput
          required
          #password
          type="password"
          formControlName="password2"
          autocomplete="password_repeat"
          placeholder="Comfirmes ton mot de passe">
        <mat-error *ngIf="hasError(getPassword2())">
          <span *ngIf="getPassword2().errors.required">
            Comfirmes ton mot de passe !
          </span>
          <span *ngIf="getPassword2().errors.different">
            Les mots de passe ne correspondent pas
          </span>
        </mat-error>
      </mat-form-field>


      <div class="row buttons">
        <p class="button-container">
          <button
            *ngIf="!showLoader"
            [disabled]="registerForm.invalid"
            mat-flat-button
            color="primary"
            type="submit">
            S'inscrire
          </button>
          <mat-spinner *ngIf="showLoader"
                       diameter="37"
                       style="margin: 0 auto">
          </mat-spinner>
        </p>
      </div>
    </form>
  </div>
</div>




