// -------------------- BASE COLORS --------------------
$alpha: #fff;
$black: #141414;
$gray: #222222;
$gray-light: #4d4d4d;
$white: #fff;

// -------------------- HELPER COLORS --------------------
$border: #e7e7e7;
$border-dark: #9b9b9b;
